barcode_generator==0.1rc15
Django==5.2.7
openpyxl==3.1.5
qrcode==8.2
twilio==9.7.1
asgiref==3.8.1
sqlparse==0.5.2
tzdata==2024.2
gunicorn==21.2.0
whitenoise==6.6.0
dj-database-url==2.1.0
mysqlclient==2.2.4
pillow==10.3.0